.code-editor-inner-wrapper {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  height: calc(100% - 15px);
  width: 100%;
}
.progress-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 5%;
  animation: fadeIn 1s;
}
.progress-outer-wrapper {
  background-color: hsl(0, 0%, 95%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-grow: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
